
CREATE TABLE [dbo].[存量项目未开发土地V4.0](
	[序号] [float] NULL,
	[公司] [nvarchar](255) NULL,
	[我司股比] [float] NULL,
	[是否并表] [nvarchar](255) NULL,
	[项目代码] [float] NULL,
	[处置方向] [nvarchar](255) NULL,
	[未开工计容面积（万平）] [float] NULL,
	[项目名称] [nvarchar](255) NULL,
	[项目直接责任人] [nvarchar](255) NULL,
	[未开工原因说明] [nvarchar](255) NULL,
	[年初全口径占压资金（万元）] [float] NULL,
	[年初权益占压资金（万元）] [float] NULL,
	[年初并表口径占压资金（万元）] [float] NULL,
	[2025年计划完成的重要节点或目标-争取] [nvarchar](255) NULL,
	[对应盘活资金（全口径，万元）] [float] NULL,
	[对应盘活资金（权益口径，万元）] [float] NULL,
	[对应盘活资金（并表口径，万元）] [float] NULL,
	[一季度节点1] [nvarchar](255) NULL,
	[一季度盘活资金（并表口径）] [float] NULL,
	[二季度节点2] [nvarchar](255) NULL,
	[二季度盘活资金（并表口径）] [float] NULL,
	[三季度节点3] [nvarchar](255) NULL,
	[三季度盘活资金（并表口径）] [float] NULL,
	[四季度节点4] [nvarchar](255) NULL,
	[四季度盘活资金（并表口径）] [float] NULL,
	[7月新排计划] [nvarchar](255) NULL,
	[7月盘活金额] [float] NULL,
	[8月新排计划] [nvarchar](255) NULL,
	[8月盘活金额] [float] NULL,
	[9月新排计划] [nvarchar](255) NULL,
	[9月盘活金额] [float] NULL,
	[10月新排计划] [nvarchar](255) NULL,
	[10月盘活金额] [float] NULL,
	[11月新排计划] [nvarchar](255) NULL,
	[11月盘活金额] [float] NULL,
	[12月新排计划] [nvarchar](255) NULL,
	[12月盘活金额] [float] NULL,
	[2026年盘活计划] [nvarchar](255) NULL,
	[2026年盘活金额] [float] NULL,
	[2026年盘活面积] [float] NULL,
	[2027年盘活计划] [nvarchar](255) NULL,
	[2027年盘活金额] [float] NULL,
	[2027年盘活面积] [float] NULL,
	[上月工作进展] [nvarchar](255) NULL,
	[下月工作计划] [nvarchar](255) NULL,
	[预计本季度工作计划是否按节点达成] [nvarchar](255) NULL,
	[未按节点达成事项] [nvarchar](255) NULL,
	[本季度已盘活金额_（并表口径、单位万元）] [nvarchar](255) NULL,
	[全年累计盘活任务_（并表口径、单位万元）] [nvarchar](255) NULL,
	[全年累计盘活金额_（并表口径、单位万元）] [nvarchar](255) NULL,
	[盘活资金比例] [float] NULL,
	[剩余全口径占压金额（单位万元）] [nvarchar](255) NULL,
	[剩余权益口径占压金额（单位万元）] [float] NULL,
	[剩余并表口径占压金额（单位万元）] [float] NULL,
	[全年累计签约金额（全口径、单位万元）] [nvarchar](255) NULL,
	[存货] [float] NULL,
	[其他应收款] [nvarchar](255) NULL,
	[预付账款] [nvarchar](255) NULL,
	[长期股权投资] [nvarchar](255) NULL,
	[差额] [float] NULL,
	[有差额的填写原因] [nvarchar](255) NULL
) ON [PRIMARY]

GO
