drop  table  待返还资金V4 
CREATE TABLE [dbo].[待返还资金V4](
	[序号] [float] NULL,
	[公司] [nvarchar](255) NULL,
	[项目代码] [nvarchar](255)NULL,
	[我司股比] [nvarchar](255) NULL,
	[是否并表] [nvarchar](255) NULL,
	[挂图问题类型] [nvarchar](255) NULL,
	[项目名称] [nvarchar](255) NULL,
	[项目直接责任人] [nvarchar](255) NULL,
	[合同或立项约定的返还节点、金额] [nvarchar](2000) NULL,
	[全口径应回收资金总额（万元）] [float] NULL,
	[权益应回收资金总额（万元）] [float] NULL,
	[并表口径应回收资金总额（万元）] [float] NULL,
	[全口径已收回资金总额（万元）] [float] NULL,
	[权益已回收资金总额（万元）] [float] NULL,
	[并表口径已回收资金总额（万元）] [float] NULL,
	[全口径未回收资金总额（万元）] [float] NULL,
	[其中：逾期未收回资金（全口径，万元）] [float] NULL,
	[权益未回收资金总额（万元）] [float] NULL,
	[其中：逾期未收回资金（权益，万元）] [float] NULL,
	[并表口径未回收资金总额（万元）] [float] NULL,
	[其中：逾期未收回资金（并表，万元）] [float] NULL,
	[2025年全年预计收回资金-全口径（万元）] [float] NULL,
	[2025年全年预计收回资金-权益（万元）] [float] NULL,
	[一季度] [float] NULL,
	[二季度] [float] NULL,
	[三季度] [float] NULL,
	[四季度] [float] NULL,
	[2025年全年预计收回资金-并表（万元）] [float] NULL,
	[新排预计7月收回金额] [nvarchar](2000) NULL,
	[新排预计8月收回金额] [nvarchar](2000) NULL,
	[新排预计9月收回金额] [nvarchar](2000) NULL,
	[新排预计10月收回金额] [nvarchar](2000) NULL,
	[新排预计11月收回金额] [nvarchar](2000) NULL,
	[新排预计12月收回金额] [nvarchar](2000) NULL,
	[2026年计划盘活金额] [float] NULL,
	[2027年计划盘活金额] [nvarchar](255) NULL,
	[推进及盘活思路] [nvarchar](2000) NULL,
	[上月工作进展] [nvarchar](2000) NULL,
	[下月工作计划] [nvarchar](2000) NULL,
	[预计本季度工作计划是否按节点达成] [nvarchar](255) NULL,
	[未按节点达成事项] [nvarchar](2000) NULL,
	[本季度已收回金额_（并表口径、单位万元）] [nvarchar](255) NULL,
	[全年累计收回任务_（并表口径、单位万元）] [nvarchar](255) NULL,
	[全年累计收回金额_（并表口径、单位万元）] [nvarchar](255) NULL,
	[全年累计收回逾期金额_（并表口径、单位万元）] [float] NULL,
	[盘活资金比例] [float] NULL,
	[剩余全口径占压金额（单位万元）] [nvarchar](255) NULL,
	[剩余权益口径占压金额（单位万元）] [nvarchar](255) NULL,
	[剩余并表口径占压金额（单位万元）] [nvarchar](255) NULL,
	[全年累计签约金额（全口径、单位万元）] [nvarchar](255) NULL,
	[存货] [float] NULL,
	[其他应收款] [float] NULL,
	[应收账款] [float] NULL,
	[预付账款] [float] NULL,
	[长期股权投资] [float] NULL,
	[差额] [float] NULL,
	[有差额的填写原因] [nvarchar](255) NULL
) ON [PRIMARY]

GO
