
CREATE TABLE [dbo].[待转化资源](
	[序号] [float] NULL,
	[区域] [nvarchar](2000) NULL,
	[公司] [nvarchar](2000) NULL,
	[我司股比] [float] NULL,
	[是否并表] [nvarchar](2000) NULL,
	[项目代码] [nvarchar](2000) NULL,
	[挂图问题类型] [nvarchar](2000) NULL,
	[项目名称] [nvarchar](2000) NULL,
	[问题说明] [nvarchar](2000) NULL,
	[全口径占压资金（万元）] [float] NULL,
	[权益占压资金（万元）] [float] NULL,
	[并表口径占压资金（万元）] [float] NULL,
	[是否建议纳入年度任务书] [nvarchar](2000) NULL,
	[2025年计划完成的重要节点或目标] [nvarchar](2000) NULL,
	[对应盘活资金_（全口径，万元）] [float] NULL,
	[对应盘活资金（权益口径，万元）] [float] NULL,
	[对应盘活资金（并表口径，万元）] [float] NULL,
	[一季度节点1] [nvarchar](2000) NULL,
	[一季度盘活资金(并表口径)] [nvarchar](2000) NULL,
	[二季度节点2] [nvarchar](2000) NULL,
	[二季度盘活资金(并表口径)] [nvarchar](2000) NULL,
	[三季度节点3] [nvarchar](2000) NULL,
	[三季度盘活资金(并表口径)] [float] NULL,
	[四季度节点4] [nvarchar](2000) NULL,
	[四季度盘活资金(并表口径)] [float] NULL,
	[是否可以在25年签约] [nvarchar](2000) NULL,
	[25年预计供货时间] [nvarchar](2000) NULL,
	[25年预计签约_（亿元）] [float] NULL,
	[是否已在2025年1月2日版本中铺排签约] [nvarchar](2000) NULL,
	[26年预计盘活资金（全口径，万元）] [float] NULL,
	[27年预计盘活资金（全口径，万元）] [float] NULL,
	[28年及以后盘活资金（全口径，万元）] [float] NULL,
	[推进及盘活思路] [nvarchar](2000) NULL,
	[备注] [float] NULL,
	[上月工作进展] [nvarchar](2000) NULL,
	[下月工作计划] [nvarchar](2000) NULL,
	[预计本季度工作计划是否按节点达成] [nvarchar](2000) NULL,
	[未按节点达成事项] [nvarchar](2000) NULL,
	[本季度已盘活金额（并表口径、单位万元）] [nvarchar](2000) NULL,
	[全年累计盘活任务（并表口径、单位万元）] [nvarchar](2000) NULL,
	[全年累计盘活金额（并表口径、单位万元）] [nvarchar](2000) NULL,
	[盘活资金比例_（低于应盘活比例70%，推送预警）] [nvarchar](2000) NULL,
	[剩余全口径占压金额（单位万元）] [nvarchar](2000) NULL,
	[剩余权益口径占压金额（单位万元）] [nvarchar](2000) NULL,
	[剩余并表口径占压金额（单位万元）] [nvarchar](2000) NULL,
	[全年累计签约金额（全口径、单位万元）] [nvarchar](2000) NULL
) ON [PRIMARY]

GO
